<h1><%= @biography.name %> Biography</h1>

<ul>
    <li>
      Height: <%= @biography.height %></br>
      Weight: <%= @biography.weight %></br>
      Position: <%= @biography.position %></br>
      Jersey Number: <%= @biography.jersey_number %></br>
      Years Experience: <%= @biography.experience %></br>
      Birthplace: <%= @biography.birthplace %></br>
      Birthdate: <%= @biography.birthdate %>
    </li>
</ul>
