<h1><%= @player.name %> Draft Information</h1>

<ul>
  <li>Team: <%= @draft_information.team %></li></br>
  <li>Year: <%= @draft_information.year %></li></br>
  <li>Round: <%= @draft_information.round %></li></br>
  <li>Pick: <%= @draft_information.pick %></li>
</ul>
